html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

header {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 118px;
    padding: 0 25px;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0 0 15px 15px;
    background: #FFF;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}

.logo {
    display: flex;
    width: 213px;
    height: 82px;
    align-items: center;
    gap: 11px;
    flex-shrink: 0;
    aspect-ratio: 213/82;
}

header a {
    text-decoration: none;
    color: #01C48E;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.header-botones {
    display: flex;
    align-items: center;
    gap: 8px;

}

.header-botones button {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    cursor: pointer;
}

.login {
    text-align: center;
    background: linear-gradient(115deg, #008E84 1.77%, #6DD831 94.29%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.register {
    color: #01C48E;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    background: radial-gradient(107.41% 107.4% at 50% -30.01%, #90E687 0%, #D2F5CE 31.96%, #FFF 86.06%);
}

.contenido {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 85%;
    margin: 0 auto;
    padding-top: 60px;
}

.plantas-body {
    align-items: center;
}

.texto-body {
    list-style: none;
    padding: 0;
    margin: 0;
}

body ul {
    list-style: none;
}

body .contenido ul li h1 {
    width: 729px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.10);
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    background: linear-gradient(115deg, #008E84 1.77%, #6DD831 94.29%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body .contenido ul li h2 {
    width: 759px;
    color: #5A5C59;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

body .contenido ul li:nth-child(3) h2 {
    background: linear-gradient(147deg, #008E84 -10.61%, #6DD831 126.52%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body ul li button {
    display: flex;
    width: 418px;
    height: 82px;
    padding: 15px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #01C48E;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0;
    background-color: #FFF;
}

.info ul {
    display: flex;
    gap: 60px;
    padding: 0;
}

.info li {
    text-align: center;
}

.info ul li h1 {
    color: #70766E;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 121.918%;
    margin-bottom: -20px;
}

.info ul li h2 {
    color: #70766E;
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 121.918%;
}

.sobre-nostros-titulo {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sobre-nostros-titulo h1 {
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.10);
    font-family: Poppins;
    font-size: 85px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    background: linear-gradient(156deg, #008E84 -100.69%, #6DD831 122.77%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.imagen-info-1 {
    box-sizing: border-box;
    display: block;
    width: 90%;
    height: 690px;
    margin: 40px auto;
    flex-shrink: 0;
    aspect-ratio: 319/138;
    background-image: url("../Images/imagen1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
    border-radius: 15px;
}

.imagen-info-1 h2 {
    width: 512px;
    color: #FFF;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.10);
    font-family: Poppins;
    font-size: 64px;
    font-style: italic;
    font-weight: 600;
    line-height: 88px;
    padding-left: 80px;
}

.imagen-info-2 {
    width: 90%;
    height: 416px;
    flex-shrink: 0;
    border-radius: 15px;
    border: none;
    box-shadow: 7px 7px 4px 0 rgba(0, 0, 0, 0.30)lightgray 923.842px -36px / 42.356% 110.647% no-repeat, #FDFDFD;
    background: url("../Images/imagen4.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 40px auto;
    padding: 30px;
}

.imagen-info-2 h2 {
    width: 636px;
    color: #0CAF82;
    font-family: Poppins;
    font-size: 48px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
}

.imagen-info-2 h3 {
    width: 688px;
    color: #5A5C59;
    font-family: Poppins;
    font-size: 30px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
}

.mision-vision {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 90%;
    margin: 60px auto
}

.mision {
    flex-basis: 400px;
    flex-grow: 1;
    aspect-ratio: 748/825;
    background: url("../Images/imagen2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: drop-shadow(7px 7px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 100px;
    box-sizing: border-box;
}
.mision h2 {
    color: #FFF;
font-family: Poppins;
font-size: 70px;
font-style: italic;
font-weight: 600;
line-height: 70px;
margin-bottom: 10px;
}
.mision h3 {
    width: 640px;
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 32px;
font-style: italic;
font-weight: 600;
line-height: 45px;
}
.vision {
    flex-basis: 400px;
    flex-grow: 1;
    aspect-ratio: 748/825;
    background: url("../Images/imagen3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: drop-shadow(7px 7px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
}
.vision h2 {
    color: #FFF;
font-family: Poppins;
font-size: 70px;
font-style: italic;
font-weight: 600;
line-height: 70px;
margin-bottom: 0px;
}
.vision h3 {
    width: 640px;
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 32px;
font-style: italic;
font-weight: 600;
line-height: 45px;
}
footer {
    width: 100%;
    background: #01C48E;
    padding: 40px 0;
    margin-top: auto;
}

.footer-contenedor {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li h1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
}

footer ul li a {
    text-decoration: none;
    color: #FFF;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    display: block;
    margin-bottom: 8px;
}

.sub-opciones-3 {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

footer ul li h3 {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
}
.pilares {
    width: 90%;
    margin: 60px auto;
flex-shrink: 0;
border-radius: 30px;
background: #FDFDFD;
box-shadow: 7px 7px 4px 0 rgba(0, 0, 0, 0.25);
padding: 40px;
box-sizing: border-box;
}
.pilares h2 {
color: #01C48E;
font-family: Poppins;
font-size: 70px;
font-style: italic;
font-weight: 600;
line-height: 70px;
line-height: 1.1;
text-align: center;
    margin: 0 0 50px 0;
}
.pilares ul {
    display: inline-flex;
align-items: center;
gap: 55px;
}
.pilares ul li {
    display: inline-flex;
align-items: center;
gap: 55px;
}
.pilares ul li h3 {
    color: #000;
text-align: center;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 35px;
}