header{
    position: sticky;
    top:0px;
    background-color: white;
    box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    margin:0;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}
.logo img {
    height: 100px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0px;
    padding: 0px;
}
nav a{
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    color: #08937D;
    font-weight: bold;
    font-size: 32px;
}
.panel-des {
    font-weight: bold;
    font-size: 20px;
}
.panel-des img {
    margin-left: 10px;
}
.submenu {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 3px 0px rgba(0,0,0,0.2);
}
.submenu li{
    margin-right: 160px;
    display: flex;
    text-align: center;
}
.submenu li a{
    color:gray;
    font-weight: 500;
    font-size: 20px;
    margin: 30px;
}
.panel-des:hover .submenu {
    display: block;
}
.Registro-usuario {
    display: flex;
    gap:18px;
}
.Registro-usuario img {
    width: 30px;
    height: 30px;
}
.Registro-usuario .Login-button{
    display: flex;
    align-items: center;
    gap: 8px;
}
.Login-button{
    border:none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    background: linear-gradient(to right, rgba(0, 142, 132, 1), rgba(109, 216, 49, 1));
    background-clip: text;
    color:transparent;
    font-weight: bold;
}
.Register-button{
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    border-radius: 8px;
    padding: 15px;
    color: white;
    background:linear-gradient(to right, rgba(0, 142, 132, 1), rgba(109, 216, 49, 1));
    background-size: 200% auto;
}
@keyframes button-effect{
    0%{
        background-position:0% 50%
    }
    50%{
        background-position:100% 50%
    }
    100%{
        background-position:0% 50%
    }
}
.Register-button:hover {
    animation: button-effect 3s ease infinite;
}
body {
    margin: 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 60%, rgba(144, 230, 135, 0.7));
}
.Inicio {
    display: block;
}
.Inicio h1{
    font-family: 'Poppins', sans-serif;
    font-size: 128px;
    font-weight: 600;
    background: linear-gradient(to bottom, rgba(0, 142, 132, 1), rgba(58, 181, 88, 1), rgba(109, 216, 49, 1));
    background-clip: text;
    color:transparent;
    text-align: center;
    margin: 43px;
}
.Inicio h2{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    color: black;
    text-align: center;
    font-style: italic;
    font-weight: 400;
    margin: 43px;
}
.Inicio h3{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: black;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.Descarga {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.Descarga button {
    border: none;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    color: white;
    border-radius: 8px;
    background: rgb(0, 184, 122);
    padding: 5px 30px;
}
.Descarga .Plataformas button {
    border: none;
    cursor: default;
    background: transparent;
    color:black;
    font-weight: normal;
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.Descarga .Plataformas button img {
    width: 30px;
    height: 30px;
}
.Descarga .Plataformas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}
.Info-container {
    width: 90%;
    margin: 29px auto;
    font-family: 'Poppins', sans-serif;
}
.Info-nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.tab-link {
    padding: 15px 20px;
    cursor: pointer;
    font-size: 32px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    transition: all 0.1s ease;
}
.tab-link.active {
    font-weight: 700;
    color: #08937D;
    border-bottom: 3px solid rgba(127, 194, 149, 1);
    margin-bottom: -2px;
}
.tab-link:hover {
    background:linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.055));
}
.tab-panel.active .panel-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.tab-panel.active .panel-order h2 {
    text-align: start;
    font-size: 28px;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
}
.tab-panel .panel-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
.tab-panel .panel-order h2 {
    font-size: 28px;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
}
.Info-content {
    padding-top: 20px;
}
.tab-panel {
    display: none;
}
.tab-panel.active {
    display: block;
}
.Info-data ul{
    list-style:none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 100px;
}
.Info-data ul li h1 {
    font-size: 75px;
    font-weight: 700;
    margin-bottom: -20px;
}
.Info-data ul li h2 {
    font-size: 20px;
    font-weight: 700;
}
footer {
    position: absolute;
    width: 100%;
    margin:0;
    padding: 0;
    background: linear-gradient(rgba(1, 196, 142, 1), rgba(0, 94, 68, 1));
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 100px 0px;
    flex-wrap: wrap;
}
footer h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 0;
}
footer ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
footer ul li {
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contacto h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 600;
}
.contacto ul {
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 0;
}
.contacto ul li {
    margin: 0;
}
.contacto .copyright {
display: block;
    width: 100%;
    height: auto;
    text-align: end;
    font-size: 27px;
    font-weight: 600;
    padding: 80px 0px;
}