html, body {
    height: 100%;
}
header {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 118px;
    padding: 0 25px;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 0 0 15px 15px;
    background: #FFF;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}

.logo {
    display: flex;
    width: 213px;
    height: 82px;
    align-items: center;
    gap: 11px;
    flex-shrink: 0;
    aspect-ratio: 213/82;
}

header a {
    text-decoration: none;
    color: #01C48E;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.header-botones {
    display: flex;
    align-items: center;
    gap: 8px;

}

.header-botones button {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    cursor: pointer;
}

.login {
    text-align: center;
    background: linear-gradient(115deg, #008E84 1.77%, #6DD831 94.29%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.register {
    color: #01C48E;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    background: radial-gradient(107.41% 107.4% at 50% -30.01%, #90E687 0%, #D2F5CE 31.96%, #FFF 86.06%);
}

.contenido {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 85%;
    margin: 0 auto;
    padding-top: 60px;
}

.plantas-body {
    align-items: center;
}

.texto-body {
    list-style: none;
    padding: 0;
    margin: 0;
}

body ul {
    list-style: none;
}

body .contenido ul li h1 {
    width: 729px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.10);
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    background: linear-gradient(115deg, #008E84 1.77%, #6DD831 94.29%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body .contenido ul li h2 {
    width: 759px;
    color: #5A5C59;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

body .contenido ul li:nth-child(3) h2 {
    background: linear-gradient(147deg, #008E84 -10.61%, #6DD831 126.52%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body ul li button {
    display: flex;
    width: 418px;
    height: 82px;
    padding: 15px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #01C48E;
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0;
    background-color: #FFF;
}

.info ul {
    display: flex;
    gap: 60px;
    padding: 0;
}

.info li {
    text-align: center;
}

.info ul li h1 {
    color: #70766E;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 121.918%;
    margin-bottom: -20px;
}

.info ul li h2 {
    color: #70766E;
    font-family: 'Montserrat';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 121.918%;
}
footer {
    width: 100%;
    background: #01C48E;
    padding: 40px 0;
    margin-top: auto;
}

.footer-contenedor {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li h1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 15px;
}

footer ul li a {
    text-decoration: none;
    color: #FFF;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    display: block;
    margin-bottom: 8px;
}

.sub-opciones-3 {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

footer ul li h3 {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
}
